<div class="row" style="padding-top: 10vh;">
    <div class="col">

        <div class="col-md-7 offset-md-2 text-center">

            <h1>Welcome to my Blog</h1>
        <p>Wher Tech knowledge is just a few clicks away</p>
        <p><%=  link_to  "Blog", articles_path %></p>
        
        </div>

    </div>
</div>